<phpunit bootstrap="inittest.php" colors="true">
	<testsuites>
		<testsuite name="Orchid">
			<file>vendor_test/Orchid/AppTest.php</file>
			<file>vendor_test/Orchid/DatabaseTest.php</file>
			<file>vendor_test/Orchid/MemoryTest.php</file>
			<file>vendor_test/Orchid/TaskTest.php</file>
			<file>vendor_test/Orchid/Extension/AssetTest.php</file>
			<file>vendor_test/Orchid/Extension/CryptaTest.php</file>
			<file>vendor_test/Orchid/Extension/StrTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>