<phpunit bootstrap="inittest.php" colors="true">
	<testsuites>
		<testsuite name="Orchid">
			<file>vendor_test/Orchid/AppTest.php</file>
			<file>vendor_test/Orchid/DatabaseTest.php</file>
			<file>vendor_test/Orchid/MemoryTest.php</file>
			<file>vendor_test/Orchid/RequestTest.php</file>
			<file>vendor_test/Orchid/RouterTest.php</file>
			<file>vendor_test/Orchid/TaskTest.php</file>
		</testsuite>
		<testsuite name="Orchid Entity">
			<file>vendor_test/Orchid/Entity/CollectionTest.php</file>
			<file>vendor_test/Orchid/Entity/ModelTest.php</file>
			<file>vendor_test/Orchid/Entity/ValidatorTest.php</file>
		</testsuite>
		<testsuite name="Orchid Extension">
			<file>vendor_test/Orchid/Extension/AssetTest.php</file>
			<file>vendor_test/Orchid/Extension/CacheTest.php</file>
			<file>vendor_test/Orchid/Extension/CryptaTest.php</file>
			<file>vendor_test/Orchid/Extension/FileSystemTest.php</file>
			<file>vendor_test/Orchid/Extension/FormTest.php</file>
			<file>vendor_test/Orchid/Extension/i18nTest.php</file>
			<file>vendor_test/Orchid/Extension/StrTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>